<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Temperature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Temperature.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>Temperature Converter</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>Melly</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0</value>
            </setting>
        </Temperature.Properties.Settings>
    </applicationSettings>
</configuration>